html,
body {
    min-height: 100vh;
    font-size: 18px;
}

.mini-avatar {
    max-height: 40px;
    max-width: 80px;
}

.content {
    padding: 1.5rem;
    width: 100%;
    min-height: 80vh;
}

.up {
    margin-top: -1rem;
}

.btn-add-sm {
    font-size: 2rem;
    color: rgb(90, 90, 90);
}

.btn-add-big {
    font-size: 5rem;
    color: rgb(90, 90, 90);
}

.form-check-input:focus {
    box-shadow: none;
}
