.card {
    height: 250px;
}

.card-body {
    padding: 1.5rem;
}

.project-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

@font-face {
    font-family: 'SC Portugal';
    src: url('fonts/SC Portugal.woff2') format('woff2'),
        url('fonts/SC Portugal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.woff2') format('woff2'),
        url('fonts/Montserrat.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
