.card {
    height: 250px;
    hyphens: auto;
}

.card-body {
    padding: 1.5rem;
}

.project-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.status-circle {
    margin-bottom: 5px;
}

.btn-expand {
    background-color: rgba(0, 0, 0, 0);
}
