/* Карточки */
.card {
    height: 300px;
    cursor: pointer;
}

.card-body {
    padding: 1.5rem;
}

.btn-block-menu {
    margin-left: auto;
    margin-top: -1rem;
    margin-right: -1rem;
}

.b-list {
    font-weight: 500;
    line-height: 1.4rem;
}

.b-list a {
    color: inherit;
    text-decoration: none; /* Удаляет подчеркивание у ссылок */
}

.form-check-input {
    margin-right: 8px;
}

.form-check-label {
    display: inline;
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.btn-add-sm {
    margin-top: -0.5rem;
    padding-bottom: 0;
}

.btn-add-big {
    padding-top: 0;
    padding-bottom: 0;
}

.max-hw-100 {
    max-height: 100%;
    max-width: 100%;
}

/* Настройка цвета и эффекта для кнопок */
.btn-primary {
    background-color: #6c757d; /* Серый цвет кнопки */
    border-color: #6c757d;     /* Граница совпадает с фоном */
    color: white;              /* Белый текст */
}

.btn-primary:hover {
    background-color: #6c757d; /* Оставляем основной цвет фона */
    border-color: #6c757d;     /* Цвет границы остается серым */
    color: white;
    box-shadow: 0 0 0 3px rgba(217, 83, 79, 0.6); /* Тень вокруг кнопки */
}

/* Подсветка для ссылок в модальных окнах */
.modal .btn-link:hover {
    color: #d9534f; /* Бледно-красный цвет текста при наведении */
}

/* Размытие и стили для модального окна */
.modal-backdrop {
    backdrop-filter: blur(5px); /* Добавляет размытие фона */
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный затемненный фон */
}

.modal {
    backdrop-filter: blur(2px); /* Легкое размытие внутри модального окна */
}

.modal-content {
    border-radius: 8px; /* Закругленные края */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Тень для глубины */
}

.error-checkbox {
    margin: -0.9rem auto 1rem 27px;
    font-weight: 400;
}

@font-face {
    font-family: 'SC Portugal';
    src: url('fonts/SC Portugal.woff2') format('woff2'),
         url('fonts/SC Portugal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.woff2') format('woff2'),
         url('fonts/Montserrat.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.footer {
    background-color: #f1f1f1; /* Светло-серый фон */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;  /* Уменьшены отступы */
    font-family: 'SC Portugal', sans-serif;
    border-top: 1px solid #ddd;
}

.footer-logo {
    font-size: 1.8rem; /* Уменьшенный размер шрифта для названия */
    margin: 0;
    color: #333;
}

.footer-links {
    display: flex;
    gap: 15px; /* Уменьшен интервал между ссылками */
}

.footer-link {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem; /* Уменьшен размер шрифта */
}

.footer-link:hover {
    text-decoration: underline;
}

